confluent-kafka
kafka-python
pandas
numpy
pydantic
pydantic-settings
scikit-learn
xgboost
mlflow
psycopg2-binary
fastapi
uvicorn
httpx
requests
python-dotenv
loguru
pymongo
sqlalchemy
alembic
scipy
matplotlib
seaborn
joblib
